html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  padding: 0 16px;
}

header h1 {
  font-size: 32px;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

h1{
  font-size: 36px;
  font-weight: bold;
}

button{
  float: inherit;
}

th , td{
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input::placeholder{
  text-align: center;
}

p{
  margin-bottom: 0;
  color: white;
}

.header {
  background-color: #519872;
  margin: auto -16px;
  padding: 25px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.buttonAdd{
  float: right;
}

.table{
  margin: 20px auto 20px auto;
  border: 1px solid #ddd;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background:#519872;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 20px 70px 20px 80px;
}

.head{
  text-align: center;
  margin-bottom: 20px;
}

.input{
  margin-bottom: 20px;
}

confirmBox{
  color: :white;
}
